@model IEnumerable<graduate.Models.student_basedata>
<header>
    <ul>
        <li><img src="~/picture/image.png" alt="logo"></a></li>
        <li><a href="@Url.Action("Teacher_Index", "Home")" class="active">首頁</a></li>
        <li><a href="@Url.Action("Teacher_Student_data", "Home")">資料維護</a></li>
        <li><a href="@Url.Action("Account", "Home")">帳號維護</a></li>
        <li><a href="@Url.Action("Review", "Home")">審核畫面</a></li>
        <li><a href="@Url.Action("Lmport_data_teacher", "Home")">匯入資料</a></li>
        <li id="contact"><a href="#">登出</a></li>
    </ul>
</header>
<body>
    @if (Model != null && Model.Any())
    {
        <table border="1">
            <thead>
                <tr>
                    <th>學號</th>
                    <th>姓名</th>
                    <th>姓別</th>
                    <th>連絡電話</th>
                    <th>出生日期</th>
                    <th>學制</th>
                    <th>學年度</th>
                    <th>狀態</th>
                    <th>電子信箱</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr>
                        <td>@student.student_No</td>
                        <td>@student.student_name</td>
                        <td>@student.student_sex</td>
                        <td>@student.student_phone</td>
                        <td>@student.student_bron</td>
                        <td>@student.student_system</td>
                        <td>@student.student_schoolyear</td>
                        <td>@student.student_status</td>
                        <td>@student.student_email</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>目前沒有學生資料。</p>
    }
</body>